.portfolio {
  background-image: url('/wallpaperProject.jpg');
  font-family: 'Signika', sans-serif;
}


.titlePortifolio {
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    padding: 1rem 0rem;
}

.containerAll-projects {
    margin-top: 4rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}

.containerAll-projects2 {
  margin-top: 4rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}

.containerAll-projects3 {
  margin-top: 4rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}

.containerAll-projects4 {
  margin-top: 4rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}

.description-project {
    color: #fff;
    text-align: center;
    margin-bottom: 1rem;
}

.container-imgProject {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-repository {
  padding: .5rem;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.button-repository p {
    color: #fff;
    text-align: center;
}

.button-repository button {
  cursor: pointer;
  width: 12rem;
  height: 2rem;
  background-color: #fff;
  color: #000;
  border: 1px solid #646cff;
  border-radius: .5rem;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.button-repository button:hover {
    background-color: #f70;
    color: #000;
}


/*ESTILIZANDO PRA DESKTOP*/
@media (min-width: 1024px) {
  .card-ContainerDesktop {
    display: flex;
    border: 1px solid #646cff;
    border-radius: 1rem;
    justify-content: space-between;
    padding: 2rem;
    width: 70%;
    font-size: 1.5rem;
    backdrop-filter: blur(15px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  .container-imgProject {
    width: 50%;
  }

  .button-repository {
    width: 50%;
  }

  /* Para inverter apenas os pares */
  .card-ContainerDesktop {
    display: flex;
    flex-direction: row; /* Padrão: imagem à esquerda, texto à direita */
    align-items: center;
    gap: 2rem;
  }

  /* Apenas os projetos com a classe .invert terão a ordem invertida */
  .invert .card-ContainerDesktop {
    flex-direction: row-reverse;
  }

  /*INVERTENDO OS CARDS*/
  
}
