header {
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    background-image: url('/backgroundTest.jpg');
    background-position: center;
    background-size: cover;
    font-family: 'Signika', sans-serif;
}

.navbar-mobile{
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: #000;
    box-shadow: 5px 5px 20px #000;
}

.navbar-menuBurger {
    padding: 1rem;
    position: fixed;
    background-color: rgb(246, 246, 246);
    width: 100%;
    top: 0;
    transform: translateY(-100%);
    opacity: 0;
    z-index: 1;
    color: #000;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.navbar-menuBurger.open {
    transform: translateY(0);
    opacity: 1;
}

.container-iconClose {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-burger {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.nav-burger li {
    list-style: none;
}

/*APRESENTAÇÃO INICIAL*/
.apresentation {
    border-radius: 0.5rem;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
}

.container-typeAnimation {
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    justify-content: center;
}

.type-animationText {
    font-size: 1.5rem;
    color: #ff0000;
    font-family: 'Signika', sans-serif;
}

.container-typeAnimation p {
    width: 300px;
    text-align: center;
}


/*IMAGEM PERFIL MOBILE*/
.container-imgProfile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 600px;
    background-image: url('/perfilMobile.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1rem;
    border: 2px solid #01ccff;
}

.container-imgProfile img {
    border-radius: 1rem;
    max-height: 300px;
    box-shadow: 0px 5px 20px #b0009c;
}
/*-------------------------------------*/

/*IMAGEM PERFIL DESKTOP*/
.container-imgProfile2 {
    display: none;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 600px;
    background-image: url('/Perfill.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1rem;
}

.container-imgProfile2 img {
    border-radius: 1rem;
    max-height: 300px;
    box-shadow: 0px 5px 20px #b0009c;
}

/*NAVBAR DESKTOP*/
.navbar-desktop {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 0;
    display: none;
}
.navbar-desktop ul {
    display: flex;
    list-style: none;
    gap: 1rem;
}

.navbar-desktop li {
    cursor: pointer;
    padding: 1rem;
    border: 2px solid transparent;
    transition: border .5s ease, scale .5s ease, border-radius .5s ease;
}

.navbar-desktop li:hover {
    scale: 1.1;
    border: 2px solid #01ccff;
    border-radius: .5rem;
}

.navbar-desktop button {
    border: none;
    padding: .5rem;
    border-radius: .5rem;
    cursor: pointer;
    border: 2px solid #01ccff;
    transition: background-color 0.5s ease, color 0.5s ease, scale 0.5s ease;
}

.navbar-desktop button:hover {
    scale: 1.1;
    background-color: #f70;
    color: #000;
}

/*STACK*/
.container-myStack {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: .5rem;
    align-items: center;
    height: 100%;
}

.container-myStack  p {
    font-size: 1.5rem;
}

.iconsStack {
    font-size: 2.5rem;
}

/*DEIXANDO RESPONSIVO*/
@media (min-width: 1024px) {
    /* Estilos para desktop */


    /*DESATIVANDO O NAVBAR MOBILE*/
    .navbar-mobile {
        display: none;
    }

    .navbar-menuBurger {
        display: none;
    }

    /*NAVBAR DESKTOP*/
    .navbar-desktop {
        display: flex;
    }

    header {
        height: 100vh;
    }

    /*APRESENTAÇÃO*/
    .apresentation {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 1rem;
        height: 100%;
    }


    /*DESATIVANDO PERFIL MOBILE*/
    .container-imgProfile {
        display: none;
    }
    /*ATIVANDO PERFIL DESKTOP*/
    .container-imgProfile2 {
        display: flex;
    }

    .container-typeAnimation {
        border-bottom: 2px solid #3300ff;
        border-radius: .5rem;
        font-size: 2.5rem;
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 5px 10px -5px #ff0000;
        box-shadow: 5px 0px 10px #01ccff;
    }

    .type-animationText {
        font-size: 3rem;
    }

    .container-typeAnimation p {
        padding: 1rem;
        text-align: center;
        width: 70%;
    }

    .container-imgProfile {
        width: 50%;
    }


    /*ESTILIZANDO MYSTAK PRA DESKTOP*/
    .container-myStack {
        gap: 2rem;
        padding: 3rem;
    }

    .iconsStack {
        font-size: 4rem;
        display: flex;
        gap: 2rem;
    }
  }

  @media (min-width: 600px) and (max-width: 1024px) {
    .container-imgProfile {
        background-size: contain;
    }
  }
  
  